html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

.hide {
    display:none;
}

body {
    background-color: #fff;
   
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #0094ff;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    font-weight:bold;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #0094ff;
    }

    a:hover {
        color:#7ac0da;
        text-decoration: underline;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
    margin:0;
}

h2 {
    font-size: 1.75em;
    margin:0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

    .small{font-size:0.9em;}



/* main layout
----------------------------------------------------------*/
.content-wrapper,
.alerts {
    margin: 0 auto;
    max-width: 960px;
}

.alerts h5:first-child
{
    margin-top:30px
}

.alerts h5{
margin:2px 0;
padding:2px 4px;
border:1px solid #ff0000;
background:#ff8181;
}


#body {
    
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
       
        background-color: #efeeef;
        padding:10px;
        margin-top:20px;
        border:1px solid #dfdfdf;
    }
    #print .main-content
    {
        background-color:#fff;
        padding:0px;
        margin-top:0px;
        border:0;
    }
    .featured h2 {
        margin-top: 3px;
    }
header{

    background: url("themes/base/images/topo.png") #008806 no-repeat center ;

}

header.projeto{

    background: url("themes/base/images/topoProjeto.png") #e0c300 no-repeat center ;

}
    header .content-wrapper {
        padding-top: 20px; 
    
    }
header .content-wrapper .float-left
footer .content-wrapper .float-right{


 position:relative;



    }

        header .content-wrapper .logotipoPF {
            width:348px; height:56px;
           margin-top: 7px;
            display:block;
            position:absolute;
            background: url("themes/base/images/powerFarm.png") no-repeat center ;
            
        }


footer .content-wrapper .hand {

margin-right: 36px;
width: 268px;
height: 293px;
margin-top: -39px;
display: block;
           
            background: url("themes/base/images/hand.png") no-repeat center ;

}
footer {
    clear: both;
    background: url("themes/base/images/footer.png") no-repeat center ;
    font-size: .8em;
    color: #fff;
    
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
    
}




/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: block;
        list-style: none;
        padding-left: 15px;
        float:left;
    }

        ul#menu li a {
            background: none;
            color: #fff ;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #bbb;
            text-decoration: none;
        }

        ul#menu li ul
        {
            display: none;
            position:absolute;
            padding:5px;
            background:#fff;
            border:1px solid #ddd;
            border-top:none;
        }
        ul#menu li:hover ul
        {
            display: block;
        }

            ul#menu li ul li
            {
                padding:0;
                float:none;
                text-align:left
            }

             ul#menu li ul li a
            {
                color:#008806;
            }
 


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
       
        padding: 10px 10px 0;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }



ol.round ul
{
    padding:0;
    margin:10px 10px 20px;
}

ol.round ul li {
        margin: 0;
        padding-left: 0;
    }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }



#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }
fieldset .left
{
    padding:2px
}
fieldset.presentation .left
{
    padding:2px 10px 2px 10px !important;
    border-right:1px dotted #aaa;
    min-height:40px;
    margin:2px 0
    
        
}
    fieldset.presentation .editor-label,
    fieldset.presentation .display-label
    {
        font-weight:bold;
        color:#888;
    }

    fieldset.presentation .formside .left
    {
        min-height:20px;
        border-bottom:1px dotted #ddd;
    }
    fieldset.presentation .formside .left div
    {
        width:16em;
        float:left
    }


        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.0em;
    
}

label.checkbox {
    display: inline;
}

input, textarea, select {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/


@media print
{

    body
    {
        font-size:0.65em;
    }

     fieldset.presentation .formside .left div
    {
        width:15em;
    }
    

     .printHidden{
         display:none;
     }


}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}

/*#region tabelaFormatada*/

.tabelaFormatada
{
     width:100%
}

    .tabelaFormatada tr th,
    .tabelaFormatada tr.fakeHeader td
    {
        background: #fff !important;
        padding:12px 4px;
        box-shadow:  0px 0px 6px #ccc;
        font-weight:bold;
        text-align:center

    }
    .tabelaFormatada tr td
    {
        padding:2px 4px;
        border-bottom:1px solid #ddd;
        border-spacing:0;
        box-shadow:  0px 0px 6px #e4e4e4;
        
    }

    .tabelaFormatada tr:nth-of-type(2n+1) td
    {
        background: #e4e4e4;
    }
    .tabelaFormatada tr td:last-of-type,
    .tabelaFormatada tr.fakeHeader td:last-of-type
    {
        background:#fff;
        width:86px
    }
    .tabelaFormatada tr:hover td
    {
        background:#fff;
        box-shadow:  0px 0px 6px #fff;
    }


/*#endregion*/
/*#region icones*/

.icone
{
   padding-left:20px ;height:24px;
    background:url(themes/base/images/icones.png) #fff no-repeat ;
    display:inline-block;
    line-height:24px;
}

    .icone.new {background-position: -20px -3980px;padding-left:24px; border:1px solid #ddd}
    .icone.edit {background-position: -13px -1218px}
    .icone.edit.special {padding-left:25px}
    .icone.details {background-position: -12px -134px;}
    .icone.delete {background-position: -20px -3716px}
    .icone.Print {background-position: -14px -1742px}
    .icone.Goback {background-position: -14px -938px; padding-left:24px; border:1px solid #ddd}
    .icone.see {
        background-position: -9px -374px;
        padding-left: 28px;
    }
    
.icon.farm
{
   padding-left: 82px;
height: 36px;
    background:url(themes/base/images/farmtechicons.png);
    display:inline-block;
}

.icon.farm.implementos{background-position: 0px -34px;}
.icon.farm.maquinas{background-position: 0px -70px;}
.icon.farm.benfeitorias{background-position: 0px -112px}
.icon.farm.terrasolo{background-position: 0px -149px}
.icon.farm.money{background-position: 0px -192px}
.icon.farm.distribuicao{background-position: 0px -232px}
.icon.farm.safrashistorico{background-position: 0px -275px}
.icon.farm.bensdireitos{background-position:  0 -316px;}
.icon.farm.semoventes{background-position:  0 -357px}
.icon.farm.questionario{background-position:  0 -397px}
.icon.farm.orcamentoanalitico{background-position:  0 -438px}
.icon.farm.questionariosProjeto{background-position:  0px -475px;}
.icon.farm.croqui{background-position:  0px -513px}
/*#endregion*/


.iconeClient
{
    background:url(themes/base/images/ClientSelect.png)  no-repeat ;
    width:46px; height:38px;


}

.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
    clear:both;
}

.box
{
    background:#cacaca;
    border:1px solid #ddd;
    padding:4px 2px;
    margin-top:10px
}

.Cabecalho
{
    width: 100%;
}


.red
{ 
    color:red !important
}


.green
{ 
    color:green !important
}

.alignCenter
{
    text-align:center;
}

.alignRight
{
    text-align:right;
}


.accordion 
{
  border-color:#ff8181;


  
}
.accordion.hidden .content {
    display:none;
}

    .accordion .aviso {
        display:block;
        cursor:pointer;
          color:red;
      
    }


.accordion .arrow-down,
.accordion.hidden .arrow-down {
    
    margin:5px 5px 0 0;
}
.accordion:hover .arrow-down{	
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-top:0;
border-bottom: 10px solid red;
}
.accordion.hidden:hover .arrow-down {
  border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom:0;
	border-top: 10px solid red;
}

 .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top:0;
	border-bottom: 10px solid black;
}

.hidden .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom:0;
	border-top: 10px solid black;
}






.forcedBack
{
    background-color:#f7f7f7 !important;
}

.borderLeft
{
    border-left:1px dashed #000
}
.borderRight
{
    border-right:1px dashed #000
}

.size1{width:21%; padding:3px 2%}
.size2{width:50%; padding:3px 0}
.size3{width:75%; padding:3px 0}

.width1 {width:50px;}
.width2 {width:120px;}
.width3 {width:150px;}
.width4 {width:170px;}
.width5 {width:200px;}




/*listas*/

.listaFormatada,
.listaFormatada ul{

    list-style:none;
   


}
    .listaFormatada.especial ul {
        background: #ddd;
border: 1px solid #bbb;
padding: 5px !important;


    }
    
    .listaFormatada ul,
    .listaFormatada,
    ol.round ul.listaFormatada,
    ol.round ul.listaFormatada ul {
        padding:0;
        margin:0
    }


    .listaFormatada {
       
          border-bottom:1px dotted #aaa

    }.listaFormatada h3
     {
        
    padding-bottom:5px;
    color:#4800ff;
     }
.listaFormatada h3:hover{
    cursor:pointer;
    color:red;
}
    .listaFormatada ul li.linha{border-bottom:1px solid #ddd; padding-bottom:4px;margin-bottom:4px}

.listaFormatada.hidden li ul
{
    display:none;
    padding-bottom:10px !important
  
}
.listaFormatada li ul
{
    padding-bottom:10px !important
  
}
.PrinterTable

{
    page-break-after:always;
   border-spacing: 0;

   width:100%;

    
}
.forcebreakpage
{
    page-break-before:always;
}
.footerTable{
    width:100%;
    
}

.PrinterTable td:first-child
{
    vertical-align:middle !important;

}
.PrinterTable table
{
    border-spacing: 0;
   width:100%;
}

.PrinterTable:last-child
{
    page-break-after:avoid;
}
.PrinterTable tbody tr td:first-child
{
    vertical-align:top;

}
    .PrinterTable,
    .PrinterTable tfoot table,
    .PrinterTable tbody table
{
    width:100%;
}
.PrinterTable tfoot
{
    display: table-footer-group;
     position: fixed;
            bottom: 0;
   
}
.PrinterTable tbody
{
        display: table-row-group;
     
    
}
    .PrinterTable .bordered
    {
        border:2px double #000;
    }    
    .PrinterTable .dotted
    {
        border-bottom:1px dotted #000
    }
    .PrinterTable .title
    {
        border: 1px solid #000;
        padding: 5px 2px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        height:20px;
    }
.PrinterTable .title.soft
{
    font-size: 12px;
    height:13px;
}
    .PrinterTable .spacerBlank1 
    {
        height:14px;
    }
    .PrinterTable .spacerBlank2
    {
        height:4px;
    }
    .PrinterTable .titlesoft 
    {
        padding: 14px 0 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }
    
    .PrinterTable .doubleBorderTitle td
    {
        border-top:3px double #000 !important;
        border-bottom:3px double #000 !important;
       
        font-weight:bold;
        
      
    }
    .PrinterTable .doubleBordered td
    {
        border-top:3px double #000 !important;
        border-bottom:3px double #000 !important;
       
        
      
    }
    .PrinterTable .totalsDoubleBorder td
    {
        border-top:3px double #000 !important;
      
       
        font-weight:bold;
        
      
    }


    .ArrendamentoFazenda.hidden
    {
        display:none;
    }



.loading 
{
    width:100%; 
    height:100%;
    position:relative;
    z-index:99999;
    display:none;
    
    
}
    .loading .content
    {
        position:absolute;
        width:100%; 
        height:100%;
        
        
    }
        .loading .content .mask
        {
         position:fixed;

            width:100%; 
            height:100%;
            background:#fff;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
            
        
        }
       
        .loading .content .loading{
             
             width:100%;height:120px;
             margin:auto;
             border:1px solid #888;
             top:200px;
             background:#fff;
             text-align:center;
       
        }
         .loading .content .loading img
         {
             margin:50px auto 0;

         }



.redAgenda td{
    background:#ff8181 !important;
}

.yellowAgenda td{
    background:#f7ff8e !important;
}
.greenAgenda td{
    background:#a9ff8b !important;
}