<ul>
            <li>Dados Pessoais:</li>
            <li>Dados da Fazenda:</li>
            <li>Terras e Solo:</li>
            <li>Benfeitorias:</li>
            <li>Dívidas:</li>
            <li>Máquinas:</li>
            <li>Implementos:</li>
            <li>Veículos:</li>
        </ul>