<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://brs15.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-cq1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>brs15</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$brs15</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SCPProjetosEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;Application Name=EntityFramework" Name="Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SCP___AgroGerente.Areas.Projetos.Model.SCPProjetosEntities, SCP - AgroGerente" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;Application Name=EntityFramework" Name="Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SCP___AgroGerente.Models.UsersContext, SCP - AgroGerente" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SCPEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;Application Name=EntityFramework" Name="Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SCP___AgroGerente.Models.SCPEntities, SCP - AgroGerente" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCPEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.db.csdl|res://*/Models.db.ssdl|res://*/Models.db.msl;provider=System.Data.SqlClient;provider connection string="Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCPProjetosEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Areas.Projetos.Model.Projetos.csdl|res://*/Areas.Projetos.Model.Projetos.ssdl|res://*/Areas.Projetos.Model.Projetos.msl;provider=System.Data.SqlClient;provider connection string="Data Source=hu8hkiqvrx.database.windows.net,1433;Initial Catalog=brs15;Persist Security Info=True;User ID=brs15;Password=acbj@2802;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>