@model SCP___AgroGerente.Models.CadastroSafra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CadastroSafra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SafraData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SafraData)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
